---
import Card from '../components/Card.astro';
import New from '../components/New.astro';
import Review from '../components/Review.astro';
import Title from '../components/Title.astro';
import Layout from '../layouts/Layout.astro';
import { topGames, lasteThreegames, lasteFourNews } from '../../data/data';

---

<Layout title="GamerBlog" description="Blog sobre videojuegos">
	<main class="flex gap-10">
		<div class="max-w-min space-y-7">
			<section id="ultimas-reseñas">
				<Title title='Ultimas reseñas' />
				<div class="flex space-x-5">
					{
						lasteThreegames && lasteThreegames.map((game) => (
							<Review
								gameName={game.gameName}
								gameRating={game.gameRating}
								gameReview={game.gameReview}
								createdAt={game.createdAt}
								gamePlatform={game.gamePlatform}
								gameImage={game.gameImage}
							/>
						))
					}
				</div>
			</section>
			<section id="ultimas noticias">
				<Title title='Ultimas noticias' />
				<div class="flex flex-wrap gap-5">
					{
						lasteFourNews && lasteFourNews.map((news) => (
							<New
								newTitle={news.newTitle}
								newDescription={news.newDescription}
								newImage={news.newImage || ''}
								author={news.author}
								createdAt={news.createdAt}
							/>
						))
					}
				</div>
			</section>
		</div>
		<section id="top-ultimas" class="flex-auto">
			<Title title='Top 5' />
			<div class="space-y-4">
				{
					topGames && topGames.map((game) => (
						<Card
							gameName={game.gameName}
							gameRating={game.gameRating}
							gameImage={game.gameImage}
						/>
					))
				}
			</div>
		</section>
	</main>
</Layout>