---
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
import ListNew from '../components/ListNew.astro';
import New from '../components/New.astro';
import Review from '../components/Review.astro';
import Title from '../components/Title.astro';
import Layout from '../layouts/Layout.astro';

const body = 'Unravel contiene una historia de la vida misma. Desde el inicio podemos observar a una señora de edad avanzada viendo un álbum de fotos mientras teje y poco a poco se va quedando dormida. En ese momento, el hilo que está tejiendo se suelta y cae al suelo, y es ahí cuando aparece Yarny, un muñeco de lana roja que se despierta en el suelo y comienza a explorar la casa.'
const images = [
	'https://cdn.akamai.steamstatic.com/steam/apps/1716740/capsule_616x353.jpg?t=1700075960',
	'https://www.callofduty.com/content/dam/atvi/callofduty/cod-touchui/blog/body/mwiii/MWIII-REVEAL-BENEFITS-006.jpg',
	'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZCGrP0FQ87UWJz2ovjpsiYGWLjMIcGsZNiw&usqp=CAU',
	'https://i.ytimg.com/vi/9H76s1MaMK4/maxresdefault.jpg',
	'https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_download_software_1/2x1_NSwitchDS_Fortnite_image1600w.jpg'
];
---

<Layout title="GamerBlog" description="Blog sobre videojuegos">
	<main class="grid grid-cols-3 gap-10">
		<div class="space-y-7 col-span-2">
			<section id="ultimas-reseñas">
				<Title title='Ultimas reseñas' />
				<div class="grid grid-cols-3 gap-5">
					<Review 
					name='Starfield' 
					body={body}
					img={images[0]}
					platforms={['PC', 'PS5', 'XBOX']}
					qualification={8.5}
					createAt='Hace 2 horas'
				/>
				<Review 
					name='Starfield' 
					body={body}
					img={images[1]}
					platforms={['PC', 'PS5', 'XBOX']}
					qualification={8.5}
					createAt='Hace 2 horas'
				/>
				<Review 
					name='Starfield' 
					body={body}
					img={images[2]}
					platforms={['PC', 'PS5', 'XBOX']}
					qualification={8.5}
					createAt='Hace 2 horas'
				/>
			</section>
			<section id="ultimas noticias">
				<Title title='Ultimas noticias' />
				<ListNew />
			</section>
		</div>
		<section class="flex-auto">
			<Title title='Top 5' />
			<div class="space-y-4">
				<Card 
					img={images[2]}
					game='Gears 5'
					qualification={9.3}
				/>
				<Card 
					img={images[0]}
					game='Starfield'
					qualification={8.5}
				/>
				<Card 
					img={images[3]}
					game='Unravel'
					qualification={8.3}
				/>
				<Card 
					img={images[4]}
					game='Fornite'
					qualification={8.0}
				/>
				<Card 
					img={images[0]}
					game='Call of Duty Modern Warfare III de activision para los'
					qualification={7.9}
				/>
			</div>
			<div class="mt-7 space-y-4">
				<Title title='Ultimas guias' />
				<Card 
				img={images[2]}
				game='Gears 5'
			/>
			<Card 
				img={images[0]}
				game='Starfield'
			/>
			<Card 
				img={images[3]}
				game='Unravel'
			/>
			<Card 
				img={images[4]}
				game='Fornite'
				={8.0}
			/>
			<Card 
				img={images[0]}
				game='Call of Duty Modern Warfare III de activision para los'
			/>
			</div>
		</section>
	</main>
	<Footer  />
</Layout>