---
import New from "./New.astro";

const body = 'Unravel contiene una historia de la vida misma. Desde el inicio podemos observar a una señora de edad avanzada viendo un álbum de fotos mientras teje y poco a poco se va quedando dormida. En ese momento, el hilo que está tejiendo se suelta y cae al suelo, y es ahí cuando aparece Yarny, un muñeco de lana roja que se despierta en el suelo y comienza a explorar la casa.'

const images = [
	'https://cdn.akamai.steamstatic.com/steam/apps/1716740/capsule_616x353.jpg?t=1700075960',
	'https://www.callofduty.com/content/dam/atvi/callofduty/cod-touchui/blog/body/mwiii/MWIII-REVEAL-BENEFITS-006.jpg',
	'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZCGrP0FQ87UWJz2ovjpsiYGWLjMIcGsZNiw&usqp=CAU',
	'https://i.ytimg.com/vi/9H76s1MaMK4/maxresdefault.jpg',
	'https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_download_software_1/2x1_NSwitchDS_Fortnite_image1600w.jpg'
];
---

<div class="grid grid-cols-2 gap-5">
  <New
    title="Starfield"
    body={body}
    img={images[0]}
    date="12/12/23"
    auhtor="Jorge Luis"
  />
  <New
    title="Starfield"
    body={body}
    img={images[1]}
    date="12/12/23"
    auhtor="Jorge Luis"
  />
  <New
    title="Starfield"
    body={body}
    img={images[2]}
    date="12/12/23"
    auhtor="Jorge Luis"
  />
  <New
    title="Starfield"
    body={body}
    img={images[0]}
    date="12/12/23"
    auhtor="Jorge Luis"
  />
  <New
    title="Starfield"
    body={body}
    img={images[0]}
    date="12/12/23"
    auhtor="Jorge Luis"
  />
  <New
    title="Starfield"
    body={body}
    img={images[0]}
    date="12/12/23"
    auhtor="Jorge Luis"
  />
</div>
