---
import Tag from "./Tag.astro";

interface Props {
  title: string;
  date: string;
  auhtor: string;
  body: string;
  img: string;
}
const {title, date, auhtor, body, img } = Astro.props;
---

<article 
  class="bg-white rounded-xl flex p-5 space-x-5 max-w-[430px] shadow-card">
  <img src={img} alt={img} class="object-cover rounded-xl" width="137" height="157">
  <div>
    <Tag type="Noticia"/>
    <h2 class="text-lg font-bold line-clamp-2">{title}</h2>
    <p class="text-xs text-slate-400 mb-3">Publicado: {date} - por {auhtor}</p>
    <p class="line-clamp-3">{body}</p>
  </div>
</article>