---
import Tag from "./Tag.astro";

interface Props {
  newTitle: string;
  createdAt?: string;
  author: string;
  newDescription: string;
  newImage: string;
}
const {newTitle, createdAt, author, newDescription, newImage } = Astro.props;
---

<article 
  class="bg-white rounded-xl flex p-5 space-x-5 max-w-[430px] shadow-card">
  <img src={newImage} alt={newTitle} class="object-cover rounded-xl" width="137" height="157">
  <div>
    <Tag type="Noticia"/>
    <h2 class="font-bold line-clamp-2">{newTitle}</h2>
    <p class="text-xs text-slate-400 mb-3">Publicado: {createdAt} - por {author}</p>
    <p class="line-clamp-3 text-sm">{newDescription}</p>
  </div>
</article>