---
import { lastThreegames } from "../../data/data";
import Review from "./Review.astro";
import Title from "./Title.astro";
---

<section id="ultimas-reseñas" class="space-y-4">
  <Title title="Ultimas reseñas" />
  <div class="flex justify-between gap-5 pb-10 px-4 overflow-x-scroll lg:overflow-visible lg:px-0">
    {
      lastThreegames &&
        lastThreegames.map((game) => (
          <Review
            gameName={game.gameName}
            gameRating={game.gameRating}
            gameReview={game.gameReview}
            createdAt={game.createdAt}
            gamePlatform={game.gamePlatform}
            gameImage={game.gameImage}
          />
        ))
    }
  </div>
</section>
